{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <form class="form-signin" action="{% url 'django.contrib.auth.views.login' %}" method="post">{% csrf_token %}
                <div class="form-group">
                    <h2 class="form-signin-heading">Login</h2>
                </div>
                <div class="form-group">
                    <input type="text" id="id_username" name="username" class="form-control" placeholder="Usuário" required autofocus>
                </div>
                <div class="form-group">
                    <input type="password" id="id_password" name="password" class="form-control" placeholder="Senha" required >
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" value="Login">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Login
                    </button>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <!-- if novo aqui -->
            <hr/>
             {% if form.errors %}
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{form.non_field_errors}}
              </div>
            {% endif %}
            <!-- fim if novo -->
        </div>
    </div>
</div>
{% endblock %}
