<ul class="nav navbar-nav">
  <li>
      <a href="{% url 'patient_index' %}">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Pacientes
      </a>
  </li>
  <li> 
    <a href="{% url 'consultation_index' %}">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      Consultas
    </a>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
      Relatórios
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{% url 'report_service' %}">
          <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
          Atendimentos
        </a>
      </li>
      <li>
        <a href="{% url 'report_category' %}">
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
          Categoria
        </a>
      </li>
      <li>
        <a href="{% url 'report_genre' %}">
          <span class="glyphicon glyphicon glyphicon-list" aria-hidden="true"></span>
          Gênero
        </a>
      </li>
      <li>
        <a href="{% url 'report_age_group' %}">
          <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
          Faixa Etária
        </a>
      </li>
    </ul>
  </li>
</ul>

<ul class="nav navbar-nav pull-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      {{ user.first_name }}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/odontology/logout/">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          Sair
        </a>
      </li>
    </ul>
  </li>
</ul>