<ul class="nav navbar-nav">
  <li>
    <a href="{% url 'index_root' %}">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      Início
    </a>
  </li>
  <li>
      <a href="{% url 'patient_index' %}">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Pacientes
      </a>
  </li>
   <li> 
    <a href="{% url 'oral_patient_procedure_index' %}">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      Procedimento Bucal
    </a>
  </li>
</ul>

<ul class="nav navbar-nav pull-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      {{ user.first_name }}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/odontology/logout/">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          Sair
        </a>
      </li>
    </ul>
  </li>
</ul>