{% extends "base.html" %}
{% load staticfiles %}
{% block body %}

<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse navbar-ex2-collapse">
			<form class="form-horizontal navbar-form navbar-left" action="." method="get" role="search">
				<div class="form-group">
					<label>De:</label>
					<input id="search_from" name="search_from" type="text" class="form-control" readonly="true">

					<label>Até:</label>
					<input id="search_to" name="search_to" type="text" class="form-control" readonly="true">

					<button type="submit" class="btn btn-default" title="Clique para realizar a pesquisar">
						<span class="glyphicon glyphicon-search"></span>
					</button>

					<button class="btn btn-default" title="Clique aqui para imprimir" onclick="window.print();">
						<span class="glyphicon glyphicon-print"></span>
						Imprimir
					</button>
				</div>
			</form>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="header-print">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-1" style="position: relative; margin-left: 100px;">
						<img src="{% static "images/brasao.gif" %}" height="80" width="80" class="img-responsive pull-left">
					</div>
					<div class="col-md-5 alig-header">
						<h6>
							<b>
								MINISTÉRIO DA EDUCAÇÃO<br/>
								UNIVERSIDADE FEDERAL DO PIAUÍ - UFPI<br/>
								PRÓ-REITORIA DE ASSUNTOS ESTUDANTIS E COMUNITÁRIOS - PRAEC<br/>
								COORDENADORIA DE ASSISTÊNCIA COMUNITÁRIA - CACOM<br/>
								SERVIÇO ODONTOLÓGICO - SEOD <br/>
							</b>
						</h6>
					</div>
				</div>
				<div class="row">
					<center><h6>DISTRIBUIÇÃO DOS ATENDIMENTOS POR GÊNERO NO PERIODO DE: {{consultation_from|date:'d/m/Y'}} ATÉ {{consultation_to|date:'d/m/Y'}}</h6></center>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% if consultation_from and consultation_to %}
				<table class="table table-hover table-bordered print-data small-padding">
					<thead>
						<tr>
							<td><strong>GÊNERO</strong></td>
							<td><strong>{{consultation_from|date:'Y'}}</strong></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Feminino</td>
							<td>{{genres.feminino}}</td>
						</tr>
						<tr>
							<td>Masculino</td>
							<td>{{genres.masculino}}</td>
						</tr>
						<tr>
							<td>Total</td>
							<td>{{genres.total}}</td>
						</tr>
					</tbody>
				</table>
		</div>
		<!-- gráfico -->
		<div class="col-md-8">
			<canvas id="myChart" width="700" height="350"></canvas>
		</div>
		<!-- fim do gráfico -->
	</div>
		{% else %}
		<div class="row">
			<h4 class="center">
				<b>Sem registros</b>
			</h4>
		</div>
		{% endif %}
	<div class="row">
		<div class="footer-print">
			<div class="col-md-12 cent">
				<h5>
					<br>
					{{request.user.first_name}} {{request.user.last_name}}
					<br>
					{{request.user.dentist.specialty}}
					<br>
					CRO: {{request.user.dentist.cro|upper}}
				</h5>
			</div>	
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('#search_from').datepicker({
			format: "yyyy-mm-dd",
			todayBtn: "linked",
			language: "pt-BR",
			autoclose: true,
			todayHighlight: true
		});
	});
	$(document).ready(function () {
		$('#search_to').datepicker({
			format: "yyyy-mm-dd",
			todayBtn: "linked",
			language: "pt-BR",
			autoclose: true,
			todayHighlight: true
		});
	});

	// grafico
	var ctx = document.getElementById("myChart").getContext("2d");
	var data = {
	    labels: ["Feminino", "Masculino"],
	    datasets: [
	        {
	            label: "Quantitativo por Gênero",
	            fillColor: "rgba(220,220,220,0.5)", 
	            strokeColor: "rgba(220,220,220,0.8)", 
	            highlightFill: "rgba(220,220,220,0.75)",
	            highlightStroke: "rgba(220,220,220,1)",
	            data: [{{genres.feminino}}, {{genres.masculino}}]
	        }
	    ]
	};

	var myBarChart = new Chart(ctx, {
	    type: 'bar',
	    data: data,
	    options: {responsive: false}
	});
</script>

{% endblock %}
