{% extends "base.html" %}

{% block body %}

<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="#">Dados do Status dos Dentes</a>
    <ul class="nav navbar-nav pull-right">
      <li>
        <p class="navbar-btn">
          <a class="btn btn-default" href="{% url 'tooth_status_index' %}"> 
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Voltar
          </a>
        </p>
      </li>

      <li>
        <p class="navbar-btn">
          <a class="btn btn-default" href="{% url 'tooth_status_edit' tooth_status.id %}"> 
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Editar
          </a>
        </p>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
          <strong>Nome:</strong>
          {{ tooth_status.name }}
        </p>
        <p>
          <strong>Descrição:</strong>
          {{ tooth_status.description }}
        </p>
      </div>
    </div>
  </div>

  {% endblock %}