{% extends "base.html" %}

{% block body %}

<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="#">Cadastro de Dependentes</a>
    <ul class="nav navbar-nav pull-right">
      <li>
        <p class="navbar-btn">
          <a class="btn btn-default" href="{% url 'patient_index' %}"> 
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Voltar
          </a>
        </p>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <form action="{% url 'dependent_register' patient.id %}" method="post">{% csrf_token %}
            {{ formset.management_form }}
              {% for form in formset %}
              <div class="form-group">
                <label>Nome:</label>
                {{ form.name }}
              </div>

              <div class="form-group">
                <label>Email:</label>
                {{ form.email }}
              </div>

              <div class="form-group">
                <label>Telefone:</label>
                {{ form.phone }}
              </div>

              <div class="form-group">
                <label>Tipo:</label>
                {{ form.types }}
              </div>

              <div class="form-group">
                <label>Sexo:</label>
                {{ form.sex }}
              </div>

              <div class="form-group">
                <label>Estado Civil:</label>
                {{ form.marital_status }}
              </div>

            {% endfor %}
            <div class="form-group">
              <input type="submit" value="Salvar">
            </div>
          </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('.form-group input[type=text]').addClass('form-control');
    $('.form-group input[type=email]').addClass('form-control');
    $('.form-group select').addClass('form-control');
    $('.form-group input[type=submit]').addClass('btn btn-primary');
  </script>

  {% endblock %}