{% extends "base.html" %}

{% block body %}

<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="#">Cadastro de Dependentes</a>
    <ul class="nav navbar-nav pull-right">
      <li>
        <p class="navbar-btn">
          <a class="btn btn-default" href="{% url 'patient_index' %}"> 
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Voltar
          </a>
        </p>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <form action="{% url 'dependent_register' patient.id %}" method="post">{% csrf_token %}
            {{ formset.management_form }}
              {% for form in formset %}
              <div class="form-group">
                <label>Nome:</label>
                {{ form.name }}
              </div>

              <div class="form-group">
                <label>Email:</label>
                {{ form.email }}
              </div>

               <div class="form-group">
                <label>Categoria:</label>
                {{ form.types }}
              </div>

              <div class="form-group">
                <label>Telefone:</label>
                {{ form.phone }}
              </div>

              <div class="form-group">
                <label>Data de Nascimento:</label>
                {{ form.birth_date }}
              </div>

              <div class="form-group">
                <label>Sexo:</label>
                {{ form.sex }}
              </div>

              <div class="form-group">
                <label>Estado Civil:</label>
                {{ form.marital_status }}
              </div>

            {% endfor %}
           
            <!-- Endereço -->
            <div class="form-group">
              <label>Pais:</label>
              {{ form_address.country }}
            </div>
            <div class="form-group">
              <label>Estado:</label>
              {{ form_address.state }}
            </div>
            <div class="form-group">
              <label>Cidade:</label>
              {{ form_address.city }}
            </div>
            <div class="form-group">
              <label>Logradouro:</label>
              {{ form_address.street }}
            </div>
            <div class="form-group">
              <label>Número:</label>
              {{ form_address.number }}
            </div>
            <div class="form-group">
              <label>Bairro:</label>
              {{ form_address.neighborhood }}
            </div>
            <div class="form-group">
              <label>CEP:</label>
              {{ form_address.zip_code }}
            </div>
            <div class="form-group">
              <label>Complemento:</label>
              {{ form_address.complement }}
            </div>
            <div class="form-group">
              <label>Ponto de Referência:</label>
              {{ form_address.reference_point }}
            </div>
            <!-- Fim Endereço-->
            <div class="form-group">
              <input type="submit" value="Salvar">
            </div>
          </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('.form-group input[type=text]').addClass('form-control');
    $('.form-group input[type=email]').addClass('form-control');
    $('.form-group select').addClass('form-control');
    $('.form-group input[type=submit]').addClass('btn btn-primary');

    $(document).ready(function(){
      $("#id_form-0-phone").inputmask({"mask": "(99) 9 9999-9999"}); //specifying options
    });
  </script>

  {% endblock %}