{% extends "base.html" %}
{% load widget_tweaks %}
{% load tooth %}
{% block body %}

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav pull-right">
			<li>
				<p class="navbar-btn" style="margin-left: 26em">
					<a class="btn btn-default" href="{% url 'patient_index' %}"> 
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						Voltar
					</a>
				</p>
			</li>
		</ul>

		<form action="." method="post" class="navbar-form navbar-right">{% csrf_token %}
			<fieldset>
				{% for field in form_patient_dental_procedure %}
				{% if field.errors %}
				<div class="form-group error" >
					<label class="control-label" >{{ field.label }}</label>
					{{ field|add_class:"form-control input-md" }}
					{% for error in field.errors%}
					<span class="help-inline error">{{ error}}</span>
					{% endfor%}
				</div>
				{%else%}
				<div class="form-group">
					<label class="control-label" >{{ field.label }}</label>
					{{ field|add_class:"form-control input-md" }}
				</div>
				{%endif%}
				{% endfor %}
				<div class="form-group">
					<button type="submit" value="Salvar" class="btn btn-primary">
						<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
						Salvar
					</button>
				</div>
			</fieldset>
		</form>
	</div>
</nav>


<div class="container">
	<div class="row" style="margin-bottom: 1em">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<p>
				<strong>Nome: </strong> {{ patient.name }}
			</p>
			<p>
				<strong>Estado civil: </strong> {{ patient.marital_status }}
			</p>
			<p>
				<strong>Sexo: </strong> {{ patient.sex }}
			</p>
			<p>
				<strong>Pai: </strong> {{ patient.father }}
			</p>
			<p>
				<strong>Mãe: </strong> {{ patient.mother }}
			</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<p>
				<strong>Data de Nasc.: </strong> {{ patient.birth_date }}
			</p>

			<p>
				<strong>Tipo: </strong> {{ patient.types }}
			</p>

			<p>
				<strong>Fone: </strong> {{ patient.phone }}
			</p>
			<p>
				<strong>E-mail: </strong> {{ patient.email }}
			</p>
			<p>
				<strong>Curso: </strong> {{ patient.course }}
			</p>
		</div>
	</div>

	<div class="row" style="margin-bottom: 1em">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 outer">
			<div class="tooth-container-row">
				{% for patient_tooth in odontogram_patient %}
				<div class="tooth-container">
					<div class="tooth-box">
						{% render_tooth patient_tooth %}
					</div>
					<div class="tooth-label-box">
						{{ patient_tooth.tooth.name }}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table class="table">
				<thead>
					<tr>
						<th colspan="3">Legenda</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="background: #000000"></td>
						<td>Restaurado</td>
						<td>Quadro cheio em preto</td>
					</tr>
					<tr>
						<td style="background: #BB0000"></td>
						<td>Cariado</td>
						<td>Quadro cheio em vermelho</td>
					</tr>
					<tr>
						<td style="background: #449D44"></td>
						<td>Restauração a ser feita</td>
						<td>Quadro cheio em verde</td>
					</tr>
					<tr>
						<td style="background: #000000; opacity: 0.7"></td>
						<td>Indicado para extração</td>
						<td>Quadro cheio em cinza</td>
					</tr>
					<tr>
						<td style="background: #000000"></td>
						<td>Extraído ou ausente</td>
						<td>Quadro totalmente preto</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h4>Procedimentos Dentário</h4>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Dente</th>
						<th>Divisão dos Dentes</th>
						<th>Procedimento Dentário</th>
						<th style="width: 21%;">Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for patient_tooth in odontogram_patient %}
						{% for patienttooth in patient_tooth.patient_dental_procedure.all %}
						<tr>
							<td>{{ patient_tooth.tooth.name }}</td>
							<td>{{ patienttooth.tooth_division.name }}</td>
							<td>{{ patienttooth.procedure_dental.name }}</td>
							<td>
								<a href="{% url 'patient_dental_procedure_edit' patienttooth.id %}" class="btn btn-default" title="Editar">
									<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
								</a>

								<a href="#modal-id-{{ patienttooth.id }}" class="btn btn-default" title="Remover" data-toggle="modal">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</a>
							</td>
						</tr>

					<!-- MODAL -->
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<div class="modal fade" id="modal-id-{{ patienttooth.id }}">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title">Alerta!</h4>
									</div>
									<div class="modal-body">
										<p>Deseja realmente remover <strong>{{ patient_tooth.tooth.name }}</strong>?</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
										<a href="{% url 'patient_dental_procedure_delete' patienttooth.id %}" class='btn btn-danger' title='Exibir'>
											Delete
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /MODAL -->
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}
