{% extends "base.html" %}
{% load tooth %}
{% block body %}

<nav class="navbar navbar-default">
	<div class="container">
		<a class="navbar-brand" href="#">Odontograma</a>
		<ul class="nav navbar-nav pull-right">
			<li>
				<p class="navbar-btn">
					<a class="btn btn-default" href="{% url 'patient_index' %}"> 
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						Voltar
					</a>
				</p>
			</li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row" style="margin-bottom: 1em">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<p>
				<strong>Nome: </strong> {{ patient.name }}
			</p>
			<p>
				<strong>Estado civil: </strong> {{ patient.marital_status }}
			</p>
			<p>
				<strong>Sexo: </strong> {{ patient.sex }}
			</p>
			<p>
				<strong>Pai: </strong> {{ patient.father }}
			</p>
			<p>
				<strong>Mãe: </strong> {{ patient.mother }}
			</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<p>
				<strong>Data de Nasc.: </strong> {{ patient.birth_date }}
			</p>

			<p>
				<strong>Tipo: </strong> {{ patient.types }}
			</p>

			<p>
				<strong>Fone: </strong> {{ patient.phone }}
			</p>
			<p>
				<strong>E-mail: </strong> {{ patient.email }}
			</p>
			<p>
				<strong>Curso: </strong> {{ patient.course }}
			</p>
		</div>
	</div>

	<div class="row" style="margin-bottom: 1em">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 outer">
			<div class="tooth-container-row">
				{% for patient_tooth in odontogram_patient %}
				<div class="tooth-container">
					<div class="tooth-box">
						{% render_tooth patient_tooth %}
					</div>
					<div class="tooth-label-box">
						{{ patient_tooth.tooth.name }}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		    <table class="table">
		    	<thead>
		    		<tr>
		    			<th colspan="3">Legenda</th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    		<tr>
		    			<td style="background: #000000"></td>
		    			<td>Restaurado</td>
		    			<td>Quado cheio em preto</td>
		    		</tr>
		    		<tr>
		    			<td style="background: #BB0000"></td>
		    			<td>Cariado</td>
		    			<td>Quadro cheio em vermelho</td>
		    		</tr>
		    		<tr>
		    			<td style="background: #449D44"></td>
		    			<td>Restauração a ser feita</td>
		    			<td>Quadro cheio em verde</td>
		    		</tr>
		    		<tr>
		    			<td style="background: #000000; opacity: 0.7"></td>
		    			<td>Indicado para extração</td>
		    			<td>Quadro cheio em cinza</td>
		    		</tr>
		    		<tr>
		    			<td style="background: #000000"></td>
		    			<td>Extraído ou ausente</td>
		    			<td>Quadro totalmente preto</td>
		    		</tr>
		    	</tbody>
		    </table>
		</div>
	</div>
</div>

{% endblock %}
