{% extends "base.html" %}
{% load widget_tweaks %}
{% block body %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav pull-right">
        <li>
          <p class="navbar-btn">
            <a class="btn btn-default" href="{% url 'patient_show' patient.id %}"> 
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              Voltar
            </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Dados do Paciente-->
<div class="container">
  <div class="row" style="margin-bottom: 1em">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <p>
        <strong>Nome: </strong> {{ patient.name }}
      </p>
      <p>
        <strong>Estado civil: </strong> {{ patient.marital_status }}
      </p>
      <p>
        <strong>Sexo: </strong> {{ patient.sex }}
      </p>
      <p>
        <strong>Pai: </strong> {{ patient.father }}
      </p>
      <p>
        <strong>Mãe: </strong> {{ patient.mother }}
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <p>
        <strong>Data de Nasc.: </strong> {{ patient.birth_date }}
      </p>

      <p>
        <strong>Tipo: </strong> {{ patient.types }}
      </p>

      <p>
        <strong>Fone: </strong> {{ patient.phone }}
      </p>
      <p>
        <strong>E-mail: </strong> {{ patient.email }}
      </p>
      <p>
        <strong>Curso: </strong> {{ patient.course }}
      </p>
    </div>
  </div>
</div>

<!-- Lista os procedimento na boca do paciente-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Procedimentos Bucal</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Dentista</th>
            <th>Procedimento Bucal</th>
          </tr>
        </thead>
        <tbody>
          {% for oralpatientprocedure in oral_patient_procedure %}
          <tr>
            <td>{{ oralpatientprocedure.dentist.first_name }}</td>
            <td>{{ oralpatientprocedure.oral_procedure.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}