{% extends "base.html" %}
{% load widget_tweaks %}
{% load templatetags %}
{% block body %}

<nav class="navbar navbar-default">
  <div class="container">
    <span class="navbar-brand space-r">Dados</span>
    <ul class="nav navbar-nav pull-right nav-inline">
      <li>
        <span class="navbar-btn">
          <a class="btn btn-default btn-size" href="javascript:window.history.go(-1)"> 
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Voltar
          </a>
        </span>
      </li>

      <li>
        <span class="navbar-btn">
          <a class="btn btn-default btn-size" href="{% url 'patient_edit' patient.id %}"> 
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Editar
          </a>
        </span>
      </li>
     <!--  <li>
        <span class="navbar-btn">
          <a href="#modal-id-{{ patient.id }}" class="btn btn-default btn-size" title="Remover" data-toggle="modal">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            Excluir
          </a>
        </span> -->
      </li>
    </ul>
  </div>
</nav>

<!-- Tabs -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#paciente" aria-controls="paciente" role="tab" data-toggle="tab">Paciente</a></li>
        <li role="presentation"><a href="#odontograma" aria-controls="odontograma" role="tab" data-toggle="tab">Odontograma</a></li>
        <li role="presentation"><a href="#proc_bucal" aria-controls="proc_bucal" role="tab" data-toggle="tab">Procedimento Bucal</a></li>
         <li role="presentation"><a href="#exams" aria-controls="exams" role="tab" data-toggle="tab">Exames</a></li>
         <li role="presentation"><a href="#consulta" aria-controls="consulta" role="tab" data-toggle="tab">Consultas</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active space-tabs" id="paciente">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row space-form">
              <div class="col-md-5 col-xs-6 col-sm-6">
                <strong>Nome:</strong>
                {{ patient.name }}
              </div>
              <div class="col-md-4 col-xs-6 col-sm-6">
                <strong>Categoria:</strong>
                {{ patient.types }}
              </div>
            </div>
            <div class="row space-form">
              <div class="col-md-5 col-xs-6 col-sm-6">
                <strong>Estado civil:</strong>
                {{ patient.marital_status }}
              </div>
              <div class="col-md-2 col-xs-6 col-sm-6">
                <strong>Sexo:</strong>
                {{ patient.sex }}
              </div>
              <div class="col-md-4 col-xs-6 col-sm-6">
                <strong>Nascimento:</strong>
                {{ patient.birth_date|date:"d/m/Y" }}
              </div>
            </div>
            <div class="row space-form">
              <div class="col-md-5 col-xs-6 col-sm-6">
                <strong>Email:</strong>
                {{ patient.email }}
              </div>
              <div class="col-md-6 col-xs-6 col-sm-6">
                <strong>Telefone:</strong>
                {{ patient.phone }}
              </div>
            </div>
            <div class="row space-form">
              <div class="col-md-5 col-xs-12 col-sm-6">
                <strong>Rua:</strong>
                {{ address.street }}
              </div>
              <div class="col-md-6 col-xs-3 col-sm-6">
                <strong>Numero:</strong>
                {{ address.number }}
              </div>
            </div>
            <div class="row space-form">
              <div class="col-md-5 col-xs-12 col-sm-8">
                <strong>Complemento:</strong>
                {{ address.complement }}
              </div>
              <div class="col-md-6 col-xs-12 col-sm-12">
                <strong>Ponto de Referência:</strong>
                {{ address.reference_point }}
              </div>
            </div>
            <div class="row space-form">
              <div class="col-md-5 col-xs-4 col-sm-6">
                <strong>Bairro:</strong>
                {{ address.neighborhood }}
              </div>
              <div class="col-md-3 col-xs-4 col-sm-6">
                <strong>Cidade:</strong>
                {{ address.city }}
              </div>
              <div class="col-md-4 col-xs-4 col-sm-6">
                <strong>Cep:</strong>
                {{ address.zip_code }}
              </div>
            </div>
            <div class="row space-form">
              <div class="col-md-5 col-xs-6 col-sm-6">
                <strong>Estado:</strong>
                {{ address.state }}
              </div>
              <div class="col-md-6 col-xs-6 col-sm-6">
                <strong>País:</strong>
                {{ address.country }}
              </div>
            </div>
            <div class="row space-form">

            </div>
          </div>
          <hr />
          {% if patient.dependents.count > 0 %}
          
          <table class="table space-top">
            <thead>
              <tr>
                <th colspan="3">Dependentes</th>
              </tr>
              <tr>
                <th>Nome</th>
                <!-- <th>Email</th> -->
                <th>Fone</th>
                <th style="width: 145px;">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for dependent in patient.dependents.all %}
              <tr>
                <input type="hidden" name="types" id="types" value="DEPENDENT"></td>
                <td>{{ dependent.name }}</td>
                <!-- <td>{{ dependent.email }}</td> -->
                <td>{{ dependent.phone }}</td>
                <td>
                  <a href="{% url 'patient_edit' dependent.id %}" class="btn btn-default" title="Editar">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  </a>
                  <a href="{% url 'odontogram' dependent.id %}" class="btn btn-default" title="Odontograma">
                    <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                  </a>
                  <a href="{% url 'oral_patient_procedure' dependent.id %}" class="btn btn-default" title="Procedimento Bucal">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                  </a>
                  <!-- <a href="#modal-id-{{ dependent.id }}" class="btn btn-default" title="Remover" data-toggle="modal">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  </a> -->
                </td>
              </tr>
              <!-- MODAL -->
              <!-- <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div class="modal fade" id="modal-id-{{ dependent.id }}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Alerta!</h4>
                      </div>
                      <div class="modal-body">
                        <p>Deseja realmente remover <strong>{{ dependent.name }}</strong>?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a href="{% url 'patient_delete' dependent.id %}" class='btn btn-danger' title='Exibir'>
                          Delete
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- /MODAL -->
              {% endfor %}
            </tbody>

          </table>
          {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane space-tabs" id="odontograma">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 outer">
              <div class="tooth-container-row">
                {% for patient_tooth in odontogram_patient %}
                <div class="tooth-container">
                  <div class="tooth-box">
                    {% render_tooth patient_tooth %}
                  </div>
                  <div class="tooth-label-box">
                    {{ patient_tooth.tooth.name }}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <table class="table space-top">
                <thead>
                  <tr>
                    <th colspan="3">Legenda</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><div class="circulo bg-restaurado"></div></td>
                    <td>Restaurado</td>
                    <td>Quadro cheio em azul</td>
                  </tr>
                  <tr>
                    <td><div class="circulo bg-cariado"></div></td>
                    <td>Cariado</td>
                    <td>Quadro cheio em vermelho</td>
                  </tr>
                  <tr>
                    <td><div class="circulo bg-pendente"></div></td>
                    <td>Restauração a ser feita</td>
                    <td>Quadro cheio em verde</td>
                  </tr>
                  <tr>
                    <td><div class="circulo bg-extracao"></div></td>
                    <td>Indicado para extração</td>
                    <td>Quadro cheio em cinza</td>
                  </tr>
                  <tr>
                    <td><div class="circulo bg-extraido"></div></td>
                    <td>Extraído ou ausente</td>
                    <td>Quadro totalmente preto</td>
                  </tr>
                  <tr>
                    <td><div class="circulo bg-protese-fixa"></div></td>
                    <td>Prótese Fixa</td>
                    <td>Quadro totalmente laranja</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane space-tabs" id="proc_bucal">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% if oral_patient_procedure.count > 0 %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Dentista</th>
                  <th>Procedimento</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                {% for oralpatientprocedure in oral_patient_procedure %}
                <tr>
                  <td>{{ oralpatientprocedure.dentist.first_name }}</td>
                  <td>{{ oralpatientprocedure.oral_procedure.name }}</td>
                  <td>{{ oralpatientprocedure.created_on|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <center>
              <h4>
                <b>Sem procedimentos</b>
              </h4>
            </center>
            {% endif %}
          </div>
        </div>
        <div role="tabpanel" class="tab-pane space-tabs" id="exams">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% if examination_solicitation.count > 0 %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Exame</th>
                  <th>Laudo</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                {% for exams in examination_solicitation %}
                <tr>
                  <td>{{ exams.exams.name }}</td>
                  <td>{{ exams.appraisal }}</td>
                   <td>{{ exams.created_on|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <center>
              <h4>
                <b>Sem exames</b>
              </h4>
            </center>
            {% endif %}
          </div>
        </div>
        <div role="tabpanel" class="tab-pane space-tabs" id="consulta">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% if consultation.count > 0 %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Data</th>
                  <th class="vertical-text">Comparecimento</th>
                  <th class="vertical-text">Radiografia</th>
                  <th class="vertical-text">1ª Consulta</th>
                  <th class="vertical-text">Consulta Retorno</th>
                  <th class="vertical-text">Consulta Urgência</th>
                  <th class="vertical-text">Tratamento Concluído</th>
                  <th class="vertical-text">Exame Clínico</th>
                </tr>
              </thead>
              <tbody>
                {% for consult in consultation %}
                <tr>
                  <td>{{ consult.created_on|date:"d/m/Y" }}</td>
                  {% if consult.attendance %}
                    <td>Sim</td>
                  {% else %}
                    <td>Não</td>
                  {% endif %}
                  {% if consult.radiograph %}
                    <td>Sim</td>
                  {% else %}
                    <td>Não</td>
                  {% endif %}
                  {% if consult.first_consultation %}
                    <td>Sim</td>
                  {% else %}
                    <td>Não</td>
                  {% endif %}
                  {% if consult.return_consultation %}
                    <td>Sim</td>
                  {% else %}
                    <td>Não</td>
                  {% endif %}
                  {% if consult.urgency_consultation %}
                    <td>Sim</td>
                  {% else %}
                    <td>Não</td>
                  {% endif %}
                  {% if consult.completed_treatment %}
                    <td>Sim</td>
                  {% else %}
                    <td>Não</td>
                  {% endif %}
                  <td>{{ consult.clinical_examination }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <center>
              <h4>
                <b>Sem Consultas</b>
              </h4>
            </center>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Fim Tabs -->
{% endblock %}