{% extends "base.html" %}

{% block body %}

<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="#">Dados do Paciente</a>
    <ul class="nav navbar-nav pull-right">
      <li>
        <p class="navbar-btn">
          <a class="btn btn-default" href="{% url 'patient_index' %}"> 
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Voltar
          </a>
        </p>
      </li>

      <li>
        <p class="navbar-btn">
          <a class="btn btn-default" href="{% url 'patient_edit' patient.id %}"> 
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Editar
          </a>
        </p>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
          <strong>Nome:</strong>
          {{ patient.name }}
        </p>
        <p>
          <strong>Sexo:</strong>
          {{ patient.sex }}
        </p>
        <p>
          <strong>Estado civil:</strong>
          {{ patient.marital_status }}
        </p>
        <p>
          <strong>Nascimento:</strong>
          {{ patient.birth_date }}
        </p>
        <p>
          <strong>Email:</strong>
          {{ patient.email }}
        </p>
        <p>
          <strong>País:</strong>
          {{ address.country }}
        </p>
        <p>
          <strong>Estado:</strong>
          {{ address.state }}
        </p>
        <p>
          <strong>Cidade:</strong>
          {{ address.city }}
        </p>
        <p>
          <strong>Bairro:</strong>
          {{ address.neighborhood }}
        </p>
        <p>
          <strong>Rua:</strong>
          {{ address.street }}
        </p>
        <p>
          <strong>Numero:</strong>
          {{ address.number }}
        </p>
        <p>
          <strong>Complemento:</strong>
          {{ address.complement }}
        </p>
        <p>
          <strong>Cep:</strong>
          {{ address.zip_code }}
        </p>
        <p>
          <strong>Ponto de Referência:</strong>
          {{ address.reference_point }}
        </p>
        <p>
          <strong>Telefone:</strong>
          {{ patient.phone }}
        </p>
      </div>
    </div>
      <hr />
      <h3>Dependentes</h3>
          <form action="{% url 'patient_show' patient.id %}" method="post">{% csrf_token %}
            {{ formset.management_form }}
              {% for form in formset %}
              <label>Nome:</label>{{ form.name }}
               <label>Email:</label>{{ form.email }}
               <label>Telefone:</label>{{ form.phone }}
            {% endfor %}
            <input type="submit" value="Incluir dependentes">
          </form>
         <table class="table">
            <thead>
              <tr>
                <th>Incluir</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Fone</th>
                <th style="width: 21%;">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for dependent in patient.dependents.all %}
                <tr>
                  <td><input type="checkbox" name="dependent_{{ dependent.id }}" id="id_dependent_{{ dependent.id }}"></td>
                  <td>{{ dependent.name }}</td>
                  <td>{{ dependent.email }}</td>
                  <td>{{ dependent.phone }}</td>
                  <td>      
                    {% if dependent.id == patient.id %}
                      <a href="#" class="btn btn-success" title= "Selecionar paciente">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                     </a>
                    {% else %}
                      <a href="#" class="btn btn-default" titl="Selecionar paciente">
                        <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                      </a>
                    {% endif %}              
                    <a href="{% url 'patient_edit' patient.id %}" class="btn btn-default" title="Editar">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>

                    <a href="#modal-id-{{ dependent.id }}" class="btn btn-default" title="Remover" data-toggle="modal">
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="3">Sem dependentes</td>
                </tr>
              {% endfor %}
               <!-- MODAL -->
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                  <div class="modal fade" id="modal-id-<%= dependent.id %>">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Alerta!</h4>
                        </div>
                        <div class="modal-body">
                          <p>Deseja realmente remover <strong>{{ dependent.name }}</strong>?</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a href="{% url 'patient_delete' patient.id %}" class='btn btn-danger' title='Exibir'>
                          Delete
                        </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /MODAL -->
            </tbody>
          </table>
          
       
  </div>

  {% endblock %}