body { padding-top: 50px; }

.dente-fundo {
  fill:#000000;
  fill-opacity:1;
  stroke:#000000;
  stroke-width:0.96444398;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}

.dente-lingual-palatal {
  fill:#ffffff;
  fill-opacity:1;
  stroke:#000000;
  stroke-width:0.96444398;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}

.dente-mesial {
  fill:#ffffff;
  fill-opacity:1;
  stroke:#000000;
  stroke-width:0.96444398;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}

.dente-vestibular {
  fill:#ffffff;
  fill-opacity:1;
  stroke:#000000;
  stroke-width:0.96444398;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}

.dente-distal {
  fill:#ffffff;
  fill-opacity:1;
  stroke:#000000;
  stroke-width:0.96444398;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}

.dente-oclusal {
  fill:#ffffff;
  fill-opacity:1;
  stroke:#000000;
  stroke-width:1.92888796;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}

.dente-dente-completo {
  fill:none;
  stroke:#000000;
  stroke-width:0.96444398;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}

.dente-divisao:hover {
  opacity: 0.75;
}

.dente-selecionado {
  /*stroke:#FF0000;*/
  opacity: 0.75;
}

/* restaurado */
.proc_1 { fill: #0000FF; }
.proc_2 { fill: #0000FF; }
.proc_3 { fill: #0000FF; }
.proc_4 { fill: #0000FF; }

/* cariado */
.proc_5 { fill: #BB0000; }

/* a-restaurar */
.proc_6 { fill: #449D44; }

/* indicado pra extração */
.proc_7 { fill: #000000; opacity: 0.7; }

/* ausente */
.proc_8 { fill: #000000; }

/* protese fixa */
.proc_9 { fill: #FF4500; }

/* protecao pulpar */
.proc_10 { fill: #8A2BE2; }

/* Organization Datagram */
.outer{
  width:100%;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.inner{
  width:50%;
}

.tooth-container-row {
  width: 730px;
  height: auto;
  display: block;
}

.tooth-container {
  width: 40px;
  height: auto;
  /*padding-right: 5px;
  padding-left: 5px;*/
  display: inline-block;
}

.tooth-container:nth-child(8) { border-right: 1px solid #aaa; }
.tooth-container:nth-child(24) { border-right: 1px solid #aaa; }
.tooth-container:nth-child(n+17) { border-top: 1px solid #aaa; padding-top: 8px; }

.tooth-box {
  width: 40px;
  height: 40px;
  display: block;
}

/*.tooth-box svg { width: 100%; }*/

.tooth-label-box {
  width: 40px;
  height: auto;
  text-align: center;
  font-weight: bold;
  display: block;
}

.circulo {
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
}

.bg-restaurado { background: #0000FF; }
.bg-cariado { background: #BB0000; }
.bg-pendente { background: #449D44; }
.bg-extracao { background: #000000; opacity: 0.7; }
.bg-extraido { background: #000000; }
.bg-protese-fixa { background: #FF4500; }

.space-form div{
  margin-bottom: 1rem;
}

.btn-size{
  margin: 7px 5px 7px 5px;
}

.nav-inline li{
  display: inline;
}

.inline-c{
  display: inline;
}

@media(max-width: 770px){
  .space-r{
    margin-top: 7px;
  }
}

.space-tabs{
  margin-bottom: 3rem; 
  margin-top: 3rem;
}

.space-top{
  margin: 2rem 0rem 2rem 0rem;
}

.space-form2{
  margin: 0 0 3rem 0;
}

/*.vertical-text {
  max-width: 5px;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);

  background:transparent !important;
  background: rgba(255,255,255,0);
}*/

/*.rotate-cells th{
  height: 160px;
  max-height: 20px;
}

.rotate-cells th > span{
  position: relative;
  top: -60px;
  left: -55px;
}

.cent{
  position: relative;
  margin-left: center;
  margin-right: center;
  text-align: center;
}

.alig-cell{
  vertical-align: middle !important;
}
*/
.espaco-0 td, .espaco-0 th {
  padding: 5px !important;
  text-align: center !important;
  vertical-align: middle !important;
}


/*body { background: #99cc33 }*/

/*@media print {
  * {
    background:transparent !important;
    color:#000 !important;
    text-shadow:none !important;
    filter:none !important;
    -ms-filter:none !important;
  }
}*/

.header-print{
  display: none;
}

.footer-print{
  display: none;
}

@page  
{ 
  size: auto; 
  margin: 1mm 5mm 5mm 5mm;  
}

@media print {
  .header-print{
    display: inline;
  }
  .footer-print{
    display: inline;
    position: absolute;
    bottom: 0;
    right: 42%;
  }
  .print-data tbody > tr > td{
    font-size: 7pt;
  }
  .print-data thead > tr > th{
    font-size: 7pt;
  }
  .img-teste{
    width: 55%;
    height: 55%;
  }
}

.alig-header{
  position: relative;
  margin-left: 200px;
}

.cent{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.small-padding td {
  padding: 0 !important;
}

.center { text-align: center; }

.center-total tr td:nth-child(2) { text-align: center; }