{% extends "base.html" %}

{% block body %}
<nav class="navbar navbar-default">
	<div class="container">
		<a class="navbar-brand" href="#">Cadastro de Estatus dos Dentes</a>
		<ul class="nav navbar-nav pull-right">
			<li>
				<p class="navbar-btn">
					<a class="btn btn-default" href="{% url 'tooth_index' %}"> 
						<span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
						Cancelar
					</a>
				</p>
			</li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<form action="." method="post">{% csrf_token %}
				<div class="form-group">
			    	<label>Nome</label>
			    	<input type="text" id="name" name="name" class="form-control" value="{{ tooth.name }}" placeholder="Nome *" required autofocus>
			    </div>

			   	<div class="form-group">
			   	 	<label>Descrição</label>
			    	<input type="text" id="description" name="description" class="form-control" value="{{ tooth.description }}" placeholder="Descrição" >
			    </div>

				<div class="form-group">
					<button type="submit" value="Salvar" class="btn btn-primary">
						<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
						Salvar
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}