{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
    	.borda td{
    		padding: 10px;
    	}
    	.borda2{
    		padding: 10px;
    	}
    	.borda3{
    		padding: 10px;
    	}
    	.img-space img{
    		padding-right: 15px;
    	}
    	.btn{
			width: 250px;
			background-color: #f9f18d;
			color: #fff;
			text-transform: uppercase;
			padding: 6px 12px;
			font-size: 30px;
			line-height: 2;
			text-align: center;
			cursor: pointer;
			border: 1px solid transparent;
			border-radius: 4px;
    	}
    </style>
</head>
<body>
	<div width="100%" align="center" style="background:#f9f18d; padding:15px;" >
		<table border="0" bgcolor="#FFFFFF" width="70%">
			<tr bgcolor="#D2D3D5" height="120px" align="center" valign="center">
				<td colspan="2"><img src="http://saudecoletivapicos.com.br/static/img/logo-login.png" alt=""></td>
			</tr>
			<tr bgcolor="#FFFFFF" align="left" valign="center" class="borda">
				<td colspan="2">
					<strong><p style="font-size: 30px;text-align: center;">Recuperação de Senha</p>
					<p style="font-size: 20px;">Caso tenha sido você mesmo que solicitou a recuperação de senha, <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">clique aqui</a> ou copie e cole o seguinte link no navegador:</p>
					<p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
					<p>Caso não tenha solicitado, desconsidere a mensagem.</p>
					<p>{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}</p>

					<p>{% trans "Thanks for using our site!" %}</p>

					<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
					</strong>
				</td>
			</tr>
			<tr bgcolor="#FFFFFF" align="left" valign="center" class="borda">
				<td colspan="2" align="center">
					<a class="btn" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Recuperar Senha</a>
				</td>
			</tr>
			<tr bgcolor="#D2D3D5" height="100px" align="right" valign="center">
				<td colspan="2" class="img-space">
					
				</td>
			</tr>
		</table>
	</div>
</body>
</html>