{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <title>Picoense Admin</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">        
  <link rel="stylesheet" href="{% static 'css/templatemo_main.css' %}">
<!-- 
Dashboard Template 
http://www.templatemo.com/preview/templatemo_415_dashboard
-->
</head>
<body>
  <div id="main-wrapper">
    <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <div class="logo"><h1>Picoense Admin</h1></div>
      </div>   
    </div>
    <div class="template-page-wrapper">
      <form class="form-horizontal templatemo-signin-form" role="form" action="{% url 'login' %}" method="POST">
    <div class="form-group">
              <div class="col-md-12">
        <h2>Senha alterada com sucesso, entre com seu usuario e nova senha!</h2>  
        </div>
    </div>
        {% csrf_token %}
        <div class="form-group">
              <div class="col-md-12">
              <label class="control-label" >Usuário</label>
              <input class="form-control has-error has-feedback" id="id_username" maxlength="254" name="username" type="text" />
              </div>
            </div>
          
        
          
            <div class="form-group">
              <div class="col-md-12">
              <label class="control-label" >Senha</label>
              <input class="form-control has-error has-feedback" id="id_password" name="password" type="password" />
              </div>
            </div>
        <div class="form-group">
          <div class="col-md-12">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Sign in" class="btn btn-default">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>