	{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <title>Picoense Admin</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">        
  <link rel="stylesheet" href="{% static 'css/templatemo_main.css' %}">
<!-- 
Dashboard Template 
http://www.templatemo.com/preview/templatemo_415_dashboard
-->
</head>
<body>
  <div id="main-wrapper">
    <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <div class="logo"><h1>Picoense Admin</h1></div>
      </div>   
    </div>
    <div class="template-page-wrapper">
	<div  class="form-horizontal templatemo-signin-form" >
		
	<h1 >Esqueci a Senha</h1>
				<h2>Email com as configurações de recuperação de senha enviado</h2>
	</div>
</div>
  </div>
</body>
</html>