{% extends "base.html" %}

{% block body %}

<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="#">Dados do Procedimento</a>
    <ul class="nav navbar-nav pull-right">
      <li>
        <p class="navbar-btn">
          <a class="btn btn-default" href="{% url 'procedure_index' %}"> 
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Voltar
          </a>
        </p>
      </li>

      <li>
        <p class="navbar-btn">
          <a class="btn btn-default" href="{% url 'procedure_edit' procedure.id %}"> 
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Editar
          </a>
        </p>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
          <strong>Status do Procedimento:</strong>
          {{ procedure.procedure_status.name }} - {{ procedure.procedure_status.description }}
        </p>
        <p>
          <strong>Divisão dos Dentes:</strong>
          {{ procedure.tooth_division.name }} - {{ procedure.tooth_division.description }}
        </p>
      </div>
    </div>
  </div>

  {% endblock %}