{% extends "base.html" %}

{% block body %}
	
	<div class="container">
    	<div class="row">
    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<h1>Delete Dentist</h1>

			<p>Are you sure you want to delete the dentist {{ dentist.id }}?</p>

			<form action="{% url 'dentist_delete' dentist.id %}" method="POST">
				{% csrf_token %}

				<input type="submit" value="Yes, delete." />
			 	<a href="{% url 'dentist_index' %}">No, cancel.</a>
			</form>

			</div>
		</div>
	</div>

{% endblock %}
