{% extends "base.html" %}

{% block body %}

<div class="col-lg-15">
		<div class="panel panel-default">
			<div class="container">
				<p class="navbar-btn">
				  <h3>Editando Dentista</h3>
		          <a class="btn btn-default" href="{% url 'dentist_index' %}"> 
		            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
		            Cancelar</a>
		         </p>
				<form action="." method="post">{% csrf_token %}
					{{ form.as_p }}
					<p><input type="submit" value="Sent" /></p>
				</form>
			</div>
		</div>
</div>

{% endblock %}