{% extends "base.html" %}

{% block body %}

<nav class="navbar navbar-default">
	<div class="container">
		<a class="navbar-brand" href="#">Dentistas</a>
		<ul class="nav navbar-nav pull-right">
			<li>
				<p class="navbar-btn">
					<a class="btn btn-default" href="{% url 'dentist_register' %}"> 
						<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
						Novo
					</a>
				</p>
			</li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Email</th>
						<th>CRO</th>
						<th style="width: 21%;">Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for dentist in dentists %}
					<tr>
						<td>{{ dentist.first_name }}</td>
						<td>{{ dentist.email }}</td>
						<td>{{ dentist.cro }}</td>
						<td>                    
							<a href="{% url 'dentist_show' dentist.user_ptr_id %}" class="btn btn-default" title="Exibir">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</a>

							<a href="{% url 'dentist_edit' dentist.user_ptr_id %}" class="btn btn-default" title="Editar">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							</a>

							<a href="#modal-id-{{ dentist.user_ptr_id }}" class="btn btn-default" title="Remover" data-toggle="modal">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</a>
						</td>
					</tr>

					<!-- MODAL -->
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<div class="modal fade" id="modal-id-{{ dentist.user_ptr_id }}">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title">Alerta!</h4>
									</div>
									<div class="modal-body">
										<p>Deseja realmente remover <strong>{{ dentist.first_name }} {{ dentist.last_name }}</strong>?</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
										<a href="{% url 'dentist_delete' dentist.user_ptr_id %}" class='btn btn-danger' title='Exibir'>
											Delete
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /MODAL -->
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	</div>
</div>

{% endblock %}
